<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TSWARA EKAC SECURITY</title>
</head>

<body>


    <div class="menu-container">
        <div class="menu-top">
            <div class="div" style="width: 80%;">
                <img src="/assets/adptive-t.png" alt="" class="img-logo">
            </div>

            <div class="div burger" onclick="showMenu(this)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="44"
                    height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <line x1="4" y1="6" x2="20" y2="6" />
                    <line x1="4" y1="12" x2="20" y2="12" />
                    <line x1="4" y1="18" x2="20" y2="18" />
                </svg>
            </div>
            <div class="close" onclick="hideMenu(this)">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-x" width="44"
                    height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <rect x="4" y="4" width="16" height="16" rx="2" />
                    <path d="M10 10l4 4m0 -4l-4 4" />
                </svg>
            </div>
        </div>
        <div class="menu">
            <div class="menu-left">
                <a href="" class="links pitch">HOME</a>
                <a href="" class="links pitch">ABOUT US</a>
                <a href="" class="links pitch">CONTACT US</a>
                <a href="" class="links pitch">DOWNLOADS</a>
                <a href="/privacy" class="links pitch">PRIVACY POLICY</a>
            </div>
            <div class="menu-right">
                <a href="/html/issues.html" class="links link-right pitch">Report an issue</a>
            </div>
        </div>
        <div class="top-section">
            <div class="top-section-content">
                <h1 class="heading pitch">SAFETY IN YOUR POCKET</h1>
            </div>
        </div>
    </div>
    {{{body}}}
</body>
<script src="/js/menu.js" defer></script>
<script>
 var metaTags = document.getElementsByTagName("META");
    for(var i = 0; i < metaTags.length; i++) {
        if (metaTags[i].getAttribute("HTTP-EQUIV").match(/^REFRESH$/i))
            metaTags[i].parentNode.removeChild(metaTags[i]);
    }
    </script>

</html>