<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/pay.css">
<div class="holder">
<p class="user">Welcome {{name}}</p>
<p class="des">Payments are made monthly on the date you subcribed on!</p>
<p class="des">An amount of R10 will be deducted on a monthly basis.</p>
<form action="https://sandbox.payfast.co.za/eng/process" method="post">
   <input type="hidden" name="merchant_id" value="10028185">
   <input type="hidden" name="merchant_key" value="5v0q9qbiz7kfr">
   <input type="hidden" name="amount" value="10.00">
   <input type="hidden" name="item_name" value="Test Product">
   <input type="hidden" name="cancel_url" value="https://client.tswaraekacsecurity.co.za/status/cancelled">
   <input type="hidden" name="return_url" value='https://client.tswaraekacsecurity.co.za/status/success'>
   <input type="hidden" name="name_first" value="John">
    <input type="hidden" name="name_last" value="Doe">
    <input type="hidden" name="email_address" value="john@doe.com">
    <input type="hidden" name="cell_number" value="0823456789"> 

   <input type="submit" value="Pay R10">
</form> 
<style>
    form input{
        width: 80px;
        height: 80px;
        padding: 20px;
        border-radius: 50%;
        border: none;
        background-color: #F2D5CE;
        font-weight: bold;
    }
</style>
</div>

<br><br><br>
	{{!-- https://sandbox.payfast.co.za/eng/process --}}
