<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/pay.css">

<div class="text" id="payment-details">
    <p class="success-p">Your Payment successfully!</p>
</div>
<div class="box tick">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="200" height="200" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9381FF" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M5 12l5 5l10 -10" />
</svg>
</div>
<br>
<div class="text">
    <a href="tswara://?status=success">Click Here to open app</a> 
</div>
<div class="space"></div>
<style>
    .text{
        color: #9381FF;
        text-align: center;
        width: 100%;
    }
    .text p{
        text-align: center;
    }
    .tick{
        width: 70%;
        text-align: center;
        border: #9381FF 1px solid;
        margin: auto;
        border-radius: 50%;
    }
    .space{
        min-height: 50px;
    }
</style>